/* THIS STYLE SHEET IN LOGICAL ORDER:  1.MASTHEAD LINKS & SEARCH  2.MAIN NAVIGATION  3.SUB NAVIGATION  4.CONTENT NAVIGATION SIDEBARS */

/* 
	1. MAST HEAD - LINKS
*/
#mastContainer #siteLinksContainer {
	color: #999;
	font: bold 11px arial;
	margin: 5px 0 0 0;
	padding: 2px;
	position: absolute;
	text-align: right;
	width: 770px;
	}
#mastContainer #siteLinksContainer a {
	color: #999;
	padding: 5px 12px 5px 12px;
	text-decoration: none;
	}
#mastContainer #siteLinksContainer a.signIn {
	color: #75AF3A;
	padding: 5px 12px 5px 12px;
	text-decoration: none;
	}
#mastContainer #siteLinksContainer a:hover{
	text-decoration: underline;
	}
/* 	
	1. MAST HEAD - SEARCH
*/
#mastContainer #searchContainer {
	font: bold 14px "Trebuchet MS";
	color: #DF4D14;
	letter-spacing:1px;
	margin: 50px 0 0 0;
	padding: 0;
	position: absolute;
	text-align: right;
	width: 700px;
	font-variant: small-caps;
	}
#mastContainer #searchContainer img {
	margin: 0;
	padding: 0;
	vertical-align:bottom;
	}
#mastContainer #searchContainer input {
	color: #666;
	font: normal 10px arial;
	vertical-align: middle;
	}



/* 
	2. NAV HORIZONTAL ITEMS ACROSS TOP - Personal, Small Business, Commercial, etc..  
*/
#navMainList {
	background: #545D79;
	clear: both;
	margin:0 7px 0 8px;
	padding: 0;
	height: 26px;
	width: 760px;
	}
#navMainList ul {
	margin:0;
	padding: 0;
	}
#navMainList ul li {
	display: block;
	float: left;
	list-style-type: none;
	width: 152px;
	}
#navMainList ul li a {
	border-right:1px solid #f5f5f5;  
	color: #fff;
	font: bold 12px Arial;
	display: block;
	padding: 6px 0 5px 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	}
#navMainList a:hover {
	background: #8496BB;
	}
#navMainList li.active, #navMainList li.active a:visited, #navMainList li.active a:link , #navMainList li.active a:hover {
	background: #8496BB;
	}



/* 
	3. SUB NAV HORIZONTAL ITEMS ACROSS TOP - overview, loan choices, etc.. (under Personal, Small Business, Commercial, etc...) 
*/
#navSubList {
	background: #8496BB;
	height: 22px;
	margin: 0 7px 0 8px;
	padding: 0;
	width: 759px;
	}
#navSubList ul {
	border-top: 1px solid #fff;  
	margin: 0;
	padding: 0;
	padding-left: 27px;
	}
#navSubList ul li {
	display: block;
	float: left;
	list-style-type: none;
	}
#navSubList ul li a {
	background:#8496BB;
	color: #545D79;
	font: bold 11px Arial;
	display: block;
	padding: 3px 5px 2px 16px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	letter-spacing: 1px;
	}
#navSubList a:hover {
	color: #fff;
	}
#navSubList li.activeSub, #navSubList li.activeSub a:visited, #navSubList li.activeSub a:link , #navSubList li.activeSub a:hover {
	color: #fff;
	}



/* 
	4. NAV SIDEBAR LINKS - 1st LEVEL VERTICAL MENU 
*/
#contentContainer #navSideBarLinks #nav li.top {
	height: 18px;
	}
#contentContainer #navSideBarLinks #nav, #navSideBarLinks #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	}
#contentContainer #navSideBarLinks #nav li {
	display: block;
	width: 160px;
	}
#contentContainer #navSideBarLinks #nav li a {
	border-left: 1px solid #ccc;
	background: #f5f5f5;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #545D79;
	display: block;
	font: bold 11px arial;
	padding: 6px 3px 6px 6px;
	text-decoration: none;
	width: 149px;
	}
#contentContainer #navSideBarLinks #nav li a:hover {
	background: #fff;
	text-decoration: none;	
	}
#contentContainer #navSideBarLinks #nav li a.bulletArrow {
	background: #f5f5f5 url("/images/basic_layout/bullet.gif") no-repeat center right;
	}
#contentContainer #navSideBarLinks #nav li a:hover.bulletArrow  {
	background: #fff url("../images/basic_layout/bulletHover.gif") no-repeat center right;
	}
/* 
	4. NAV SIDEBAR LINKS - 2ND LEVEL VERTICAL MENU 
*/
#contentContainer #navSideBarLinks #nav ul li {
	margin: 0;
	padding: 0;
	width: 149px;
	}
#contentContainer #navSideBarLinks #nav ul li a {
	background: #fff;
	color: #666;
	display: block;
	font: normal 11px arial;
	margin: 0;
	padding: 5px 1px 5px 15px;
	text-decoration: none;
	width: 142px;
	}
#contentContainer #navSideBarLinks #nav ul li a:hover, #navSideBarLinks #nav ul li:hover a, #navSideBarLinks #nav ul li.hover a  {
	color: #DF4D14; 
	}
#contentContainer #navSideBarLinks #nav li.activeSideNav, #contentContainer #navSideBarLinks #nav li.activeSideNav a:visited, #contentContainer #navSideBarLinks #nav li.activeSideNav a:link , #contentContainer #navSideBarLinks #nav li.activeSideNav a:hover {
	color: #DF4D14;
	font: bold 11px arial;
	}
	 /*	IE Fix. Hide from IE Mac */
	* html #navSideBarLinks #nav li { float: left; height: 0; }
	* html #navSideBarLinks #nav li a { height: 0; }
	 /*	End IE Fix. Hide from IE Mac */
#contentContainer #navSideBarLinks #nav li a img {
	padding: 1px 8px 1px 10px;
	}
	/* END LEFT VERTICAL NAVIGATION FOR LESSON SECTIONS */



/* 
	4. NAV SHORTCUTS AREA 
*/
#contentContainer #navShortcuts input, #contentContainer #navShortcuts select {
	color: #666;
	font: normal 11px arial;
	margin:2px 0 2px 0;
	padding:0;
	}
#contentContainer #navShortcuts h4 {
	background: #96A5C6;
	border:1px solid #ccc;
	color: #fff;
	font:bold 13px arial;
	margin: 0;
	padding:4px;
	width: 152px;
	text-align:center;
	}
#contentContainer #navShortcuts h5 {
	background: #9CCE6B;
	border:1px solid #ccc;
	color: #fff;
	font:bold 13px arial;
	margin: 0;
	padding:4px;
	width: 152px;
	text-align:center;
	}
#contentContainer #navShortcuts .links {
	background: #E6E9F0;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	font:normal 11px arial;
	color:#666;
	margin: 0;
	padding-right:8px;
	padding-left: 8px;
	
	
	width: 144px;
	}
#contentContainer #navShortcuts #locationSearch {
	background: #E7F2DB;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	font:normal 11px arial;
	color:#666;
	margin: 0;
	padding:8px;
	width: 144px;
	text-align:right;
	}

.cbox_one {
	background: #E6E9F0;
		border-right:1px solid #ccc;
		border-left:1px solid #ccc;
		font:normal 11px arial;
		color:#666;
		margin: 0;
		padding:0;
		width:146px;

}

.cbox_two {
	background: #E7F2DB;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	font:normal 11px arial;
	color:#666;
	margin: 0;
	padding: 0;
	width:146px;



}

.text_form {
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	font:normal 11px arial;
	color:#666;
	margin: 0;
	padding:8px;
	width: 144px;
	text-align:right;
	}

.text_form_field{
	color: #666;
	font: normal 11px arial;
	margin:2px 0 2px 0;
	padding:0;
	}

/* 
	MENU CLASSES FOR EXPANDING/COLLAPSING VERTICAL MENUS
*/
.showSwitch {
	display: block;
	}
.hideSwitch {
	display: none;
	}